* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* style for section class HEADER */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#navList {
    list-style-type: none;
    margin-top: auto;
}

#navList li {
    display: inline-block;
    margin-left: 25px;
    position: relative;
     
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*container and banner image for page */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.hero img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover
}

/*container and images for linked pages*/

.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}

/*SEO linked page*/

#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#search-engine-optimization img {
    max-height: 200px;
}

#search-engine-optimization h2 {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 36px;
    position: absolute;
}